---
layout: index
title: Classes
group: navigation
---
<section class="blog">
    <div class="mb-60"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div id="content">
                    <div class="mb-60"></div>
	                  <div id="features" class="container">
                        <div class="sub-title">
                            <b>Upcoming Classes:</b>
                        </div>

                        <div class="blog-block post-content-area">
                            <div class="sub-title">
                                1. Introduction to Programming and Making Fun Games
                            </div>

                            <div class="service-content">
                                <div class="sub-title">
                                    Overview
                                </div>

                                Will be available online in Mid Nov.
                            </div>
                        </div>
                    </div>
                </div>
                {% include JB/comments %}
            </div>
            <div class="col-sm-12 col-md-3">
                {% include company-side-bar.html %}
            </div>
        </div>
    </div>
</section>


