---
layout: index
title: Classes
group: navigation
---
<section class="blog">
    <div class="mb-60"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div id="content">
                    <div class="mb-60"></div>
	                  <div id="features" class="container">
                        <div class="sub-title">
                            <b>Upcoming Classes:</b>
                        </div>

                        <div class="course blog-block post-content-area">
                            <div class="content">
                                <div class="sub-title">
                                    Coding + Math!
                                </div>

                                <div class="service-content">
                                    <p>
                                        Classes will commence online on the first week of Dec. Suitable for youths aged 12 and all the way to adults! Email us at <a href = "mailto: info@i2labs.page">info@i2labs.page</a> with your preferred dates and times in Dec. Each session is $20 and 1.5-Hour long.
                                    </p>
                                </div>

                                <div class="classes">
                                    Overview
                                </div>

                                <div class="service-content">
                                    <p>
                                        The world of programming is ever evolving, with new coding languages and technology emerging even as we speak. Typically old habits have to be changed before new ones can be learnt. Thus, the legacy methodology of teaching a language, with its cumbersome nuances and syntax, only to have it change and become obsolete, is both inefficient and counter-productive. Programming is set to become an essential and fundamental skill for the future and we believe the method of learning is important in igniting the interest of students and overcoming any fears they might have.
                                    </p>
                                    <p>Mathematics, logic and structured problem solving have always been the cornerstone for programming, but all too often students taking up programming at tertiary level realize too late that such skills are necessary and have to relearn them all over again. Our syllabus closely follows and incorporates the key mathematical concepts taught in school into the lesson plans and so they become self-reinforcing, improving their school work as well as equipping them with the essential skills to be a successful and able programmer. The students are not restricted by any particular language but instead adopt the ethos and thinking process required to adapt to any new language in the future.
                                    </p>

                                    <p>
                                        We will cover a broad range of mathematical topics but will generally follow the Mathematics syllabus for the appropriate age group.
                                </div>
                            </div>
                        </div>
                        <div class="mb-60"></div>

                        <div class="course blog-block post-content-area">
                            <div class="content">
                                <div class="sub-title">
                                    Starting from Scratch
                                </div>

                                <div class="service-content">
                                    <p>
                                        Classes will commence online on the first week of Dec. Suitable for kids aged 8 and up, email us at <a href = "mailto: info@i2labs.page">info@i2labs.page</a> with your preferred dates and times in Dec. Each session is only 1-Hour long and you can opt for a 1-Day $50 introductory class or a 3-Day $150 course that involves more projects.
                                    </p>
                                </div>

                                <div class="classes">
                                    Overview
                                </div>

                                <div class="service-content">
                                    <p>
                                        Scratch is a block-based programming language specifically designed for children. In this course, kids will learn the fundamentals of programming by creating fun projects such as animation and simple games. Our instructors will facilitate and help the kids explore concepts in an intuitive and hands on way that will keep them focused and interested.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-60"></div>

                        <div class="course blog-block post-content-area">
                            <div class="content">
                                <div class="sub-title">
                                    Intro to Programming and Making Fun Simulation and Games
                                </div>

                                <div class="service-content">
                                    <p>
                                        Classes will commence online on the first week of Dec. It will be a $200 5-Day 10-Hour course. Suitable for youths age 12 and above. Please register your interest by emailing us at <a href = "mailto: info@i2labs.page">info@i2labs.page</a>. Please include your name, contact number, and your preferred time and day of the week. See you soon!
                                    </p>
                                </div>

                                <div class="classes">
                                    Overview
                                </div>

                                <div class="service-content">
                                    <p>
                                        We will learn how to develop fun games using the Racket language. Racket is a Lisp that is based on Scheme and it has a powerful set of libraries. It comes with DrRacket, a simple IDE that is easy to set up. Racket is also a popular teaching language in universities (and the famous MIT SCIP textbook is based on Scheme) as it instills an expressive functional base programming style for new coders. Beginners will not be bogged down with having to learn and memorize esoteric syntax and jump straight to learning the beauty and fundamentals of coding.
                                    </p>
                                    <p>
                                        We will be using the 2htdp/universe library to develop simulation and games such as traffic lights, bouncing balls on different planets, and snake game. Please refer to our <a href="2020/10/02/day1-lesson-plan.html">past coding camp blog</a> for more examples.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include JB/comments %}
            </div>
            <div class="col-sm-12 col-md-3">
                {% include company-side-bar.html %}
            </div>
        </div>
    </div>
</section>


