.blog table {
    margin-bottom: 10px;
}

.blog table th, td {
    border: 1px solid black;
    font-weight: normal;
}

.blog-post h3 {
    font-size: 30px !important;
}

li {
    margin-left: 35px;
    font-size: 14px !important;
}

.header-style-2 {
    padding-top: 0px !important;
}

.default-footer {
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}

.highlight pre {
    overflow: hidden;
    border-left: 0;
}

.navbar {
    padding: 0px !important;
}

.navbar-brand img {
    width: auto;
    padding-right: 10px;
}

.brand {
    color: #999 !important;
}

.blog h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog h3 {
    font-size: 20px;
}

.blog img {
    width: auto;
}

.blog li {
    list-style: trad-chinese-formal
}

.blog code {
    font-size: 15px;
}
